################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/NoticiasAPI/v16/Server/sqlite3
/NoticiasAPI/bin/Debug/netcoreapp2.1
/NoticiasAPI/obj/Debug/netcoreapp2.1
/NoticiasAPI/obj
